body {
    background-color: #afa;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    background-color: #ebe;
    color: #eeeeee;
}

.ojo {
    background-color: white;
    position: absolute;
    width: 300px;
    height: 150px;
}

.iris {
    background-color: brown;
}
